<header>
    <div class="header-box-left thanks-object-1"></div>
    <div class="header-box-right thanks-object-3"></div>
    <div class="header-box-center">
      <div class="logo">
        <%= image_tag 'logo.svg' %>
      </div>
      <h1 class="header-title">Obrigado!</h1>
      <p class="header-description thanks-header-description" style="margin-bottom: 2rem;">Aproveite e confira as últimas<br> novidades no nosso LinkedIn</p>
      <%= link_to 'https://www.linkedin.com/company/freitasferrazadv/' do %>
        <%= image_tag 'linkedin.svg', class: 'pointer', style: 'display: block;' %>
      <% end %>
    </div>
  </header>
  <div class="under-header thanks-object-2" style="padding-bottom: 1.2rem;">
    <div></div>
  </div>
    <div></div>
  </div>
  <footer>
  <div class="copyright">
    <span class="copyright-text">Copyright © 2021 Freitas Ferraz - Todos os direitos reservados</span>
  </div>
</footer>